.root {
width: 999em;
}

body {
    background-color: #302828;
}

.App {
    margin: 5vh;
    padding: 2vw;
    background-color: #302828;
    color: #fff;
    text-align: center;
    height: 80vh;
    border: 1px dotted#fff;
}

form {
    width: 20vw;
    margin-left: 38%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

h6 {
    margin: 5vh;
    text-align: center;
    color: white;
    }